:root {
    --input: #E5E8EB;
    --AzulCarinho: #E6F2FF;     
    --Botões: #41b2da;
    --Verde: #4CAF50;
    --Cinza: #6c6b6b;
    --CinzaClarinho: #b7b4b4;
    --Laranja: #FF9800;
    --gradiente: linear-gradient(#CFE2F8, #5A799A)
}