/* TODO: Variaveis */
:root {
    --input: #E5E8EB;
    --AzulCarinho: #E6F2FF;     
    --Botões: #41b2da;
    --Cinza: #6c6b6b;
    --CinzaClarinho: #b7b4b4;
    --Laranja: #FF9800;
    --LinksHover: #40005C;
    --gradiente: linear-gradient(#CFE2F8, #5A799A)
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-image: var(--gradiente);
    height: 100vh;
}

/* TODO: Estilização da barra do entendente */
.container .space {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding: 2px;
}  

.space {
    border-bottom: 1px solid black;
}

.space div {
    display: flex;
    width: 100vw;
}

.hi img {
    width: 50px;
    height: 50px;
    margin-left: .5rem;
}   

.hi p {
    margin-left: .5rem;
}

.exit {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}

/* TODO: Estilização da navbar */
.navbar {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.navbar ul {
    display: flex;
    justify-content: center;
    width: 100vw;  
    list-style: none; 
}

.navbar ul a {
    text-decoration: none;
    color: var(--Cinza);
    transition: .3s;
}

.navbar ul a:hover {
    color: var(--LinksHover);
}

.navbar ul li{
    margin-right: 5rem;
}

.navbar ul li .products {
    color: var(--LinksHover);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TODO: Estilizando a pesquisa de produto */
.pesquisar {
    width: 100%;
    margin-bottom: .5rem;
}

.camp {
    position: relative;
}

.camp input {
    background-color: var(--input);
    border: none;
    margin-bottom: 5px;
    height: 30px;   
    width: 170px;
    border-radius: 10px;
    padding-left: 15px;
    background-color: var(--CinzaClarinho);
    color: #000;
    transition: .3s;
}

.camp img {
    position: absolute;
    top: 8px;
    left: 160px;
}


/* TODO: Estilizanod a tebela */
.car {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.table {
    border: 1px solid black;
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    position: relative;
}

table {
    padding: .5rem;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    border: 1px solid black;
}


.table td img {
    width: 20px;
    height: 20px;
}

.final {
    margin-top: 2rem;
    width: 100%;
    text-align: start;
}

/* TODO: Estilizando os botões */
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

.buttons button {
    height: 30px;   
    width: 95px;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 15px;
    background-color: var(--Cinza);
    color: #000;
    border: none;
    transition: .3s;
    margin-top: .5rem;
}

.esquerda button {
    width: 85;
}

.esquerda button img {
    margin-left: -10px; 
}

.buttons img {
    width: 10px;
}

.direita button{
    background-color: var(--Botões);
    width: 100px;
    margin-right: .5rem;
}
