/* Resetando a formatação do navegador */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Variaveis de cores */
:root {
    --AzulCarinho: #E6F2FF;
    --Verde: #4CAF50;
    --Cinza: #6c6b6b;
    --CinzaClarinho: #b7b4b4;
    --Laranja: #FF9800;
    --gradiente: linear-gradient(#CFE2F8, #5A799A)
  }

/* Estilização geraldo container que imgloba todos os elementos */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-image: var(--gradiente);
    height: 100vh;
}

/* Determinando o tamanho da logo */
.logo img {
    width: 250px;
}

/* Definindo tamanho, e formatação do texto de boas vindas */
.BoasVindas h1 {
    font-size: 2rem;
    width: 600px;
    text-align: center;
}

/* Estilização do botão */
#Enter {
    width: 200px;
    height: 80px;
    border-radius: 25px;
    margin-top: 2rem;
    font-size: 24px;
    background-color: var(--Cinza);
    color: var(--CinzaClarinho);
    border: solid, 1px;
    cursor: pointer;
}
/* Mudando a cor do botão ao ter o mousesobre ele  */
#Enter:hover {
    background-color: var(--Verde);
    color: black;
} 

